.postbox.moneris-pro {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: #fff;
}

.postbox.moneris-pro h2.hndle {
    text-align: center;
    color: #fff;
}

.postbox.moneris-pro span.pro-feature-list {
    color: #000;
}

.postbox.moneris-pro strong.moneris-feature-name {
    color: #000;
}

h2.hndle {
    text-align: center;
}

img.moneris-support-logo {
    width: 70%;
    margin: 0 auto 12px;
    display: block;
}

a.button.moneris-upgrade {
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 50px;
    border: none;
    background: #00c9b7;
    color: #fff;
    -webkit-box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.094em;
}

a.button.moneris-upgrade:hover,
a.button.moneris-upgrade:active,
a.button.moneris-upgrade:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
